{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">
<head>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="container">
   <div class="screen">
      <div class="screen__content">
         <form class="login" method="post" >
            {% csrf_token %}
            <div class="login__field">
               <i class="login__icon fas fa-user"></i>
               <input type="text" name="username" class="login__input" placeholder="User name / Email" required>
            </div>
            <div class="login__field">
               <i class="login__icon fas fa-lock"></i>
               <input type="password" name="pass" class="login__input" placeholder="Password" required>
            </div>
            <button type="submit" class="button login__submit">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
            </button>
            {% if messages %}
            {% for message in messages %}
            <p>Password wrong  </p>
            {% endfor %}
            {% endif %}
         </form>
         <div class="social-login">
            <a href="{% url 'signup' %}">
               <h3>Signup</h3>
            </a>
            <div class="social-icons">
               <a href="#" class="social-login__icon fab fa-instagram"></a>
               <a href="#" class="social-login__icon fab fa-facebook"></a>
               <a href="#" class="social-login__icon fab fa-twitter"></a>
            </div>
         </div>
      </div>
      <div class="screen__background">
         <span class="screen__background__shape screen__background__shape4"></span>
         <span class="screen__background__shape screen__background__shape3"></span>		
         <span class="screen__background__shape screen__background__shape2"></span>
         <span class="screen__background__shape screen__background__shape1"></span>
      </div>
   </div>
</div>
{% block content %}
{% endblock %}